body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#tree {
  width: 100%;
}

.panel-body {
  .input-group {
    width: 100%;
    margin-bottom: 5px;
    .input-group-addon {
      width: 100px;
    }
  }
}

.list-group-item {
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: #F5F5F5;
  }
  &.active {
    color: #FFFFFF;
    background-color: #428bca;
  }
  input { color: #000; }
}

.glyphicon {
  &.glyphicon-chevron-down, &.glyphicon-chevron-right {
    position: absolute;
    top: 12px;
    margin-left: -15px;

  }
  &.glyphicon-plus {
    margin: 0 5px;
  }
  &.glyphicon-remove {
    
  }
  &.glyphicon-pencil {
    margin: 0 5px 0 0;
  }
}
